<a href="https://colab.research.google.com/github/aromobigdata/proy_registro_civil/blob/main/job_Particion_base_registrocivil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'nicanor' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=nicanor:US:bquxjob_5027cf79_18607df9a4b)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_5027cf79_18607df9a4b') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT DISTINCT RUTDV
FROM (
SELECT DISTINCT per_rut, DV
, CASE WHEN length(cast(PER_RUT as string)) = 8 THEN CONCAT(PER_RUT,DV)
       WHEN length(cast(PER_RUT as string)) = 7 THEN CONCAT(0,PER_RUT,DV)
       WHEN length(cast(PER_RUT as string)) = 6 THEN CONCAT(0,0,PER_RUT,DV)
       WHEN length(cast(PER_RUT as string)) = 5 THEN CONCAT(0,0,0,PER_RUT,DV)
       WHEN length(cast(PER_RUT as string)) = 4 THEN CONCAT(0,0,0,0,PER_RUT,DV) end as RUTDV
       , AFILIADO, PERIODO_SK
FROM `nicanor.bd_inteligencia.RUTERO_REGISTROCIVIL`
)

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [8]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_5027cf79_18607df9a4b') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (4000000) exceeds max_rows (20000). Falling back to pandas display.

             RUTDV
0        201474280
1        173851960
2        173730020
3        195357390
4        095726070
...            ...
3999995  04191551K
3999996  04753920K
3999997  01427457K
3999998  03927423K
3999999  05336859K

[4000000 rows x 1 columns]

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a datasetâ€™s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [4]:
results.describe()

            RUTDV
count     4000000
unique    4000000
top     201474280
freq            1

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
import pandas as pd
import numpy as np
import os

In [ ]:
path="/content/drive/Shareddrives/Subgerencia de Datos/Proyectos/Proyecto Registro Civil /Base Rut"

In [44]:
cd '/content/drive/Shareddrives/Subgerencia de Datos/Proyectos/Proyecto Registro Civil /Base Rut'

/content/drive/Shareddrives/Subgerencia de Datos/Proyectos/Proyecto Registro Civil /Base Rut

In [45]:
!pwd

/content/drive/Shareddrives/Subgerencia de Datos/Proyectos/Proyecto Registro Civil /Base Rut

In [47]:
chunk_size = 500000
for i, g in results.groupby(lambda x: x//chunk_size):
  #print(g['RUTDV'])
  g['RUTDV'].to_csv(f"Base_registroCivil_{i:02d}.txt", header=None, index=None)